

*{
	box-sizing: border-box;

	
}
body {

	
	overflow-x: hidden;
	background-color: black;

}


@keyframes title {
		0%  {background-color: #EF7126; color: #F9E559;}
    25%  {background-color: #6F3662; color: #FFFFFF;}
    50%  {background-color: #9F6164; color: #F8DEBD;}
    75%  {background-color: #44B3C2; color: #FFFFFF;}
    100% {background-color: #218C8D; color: #F9E559;}
}


h1 {
	background-color: #E5E5E5;
	margin: 25px 0px 10px 0;
	font-size: 3em;
	text-transform: uppercase;
	text-align: center;
	
	animation: title 5s ease infinite;

}
.wrap{ 

	
	max-width: 1000px;
	margin: auto;
    }

@keyframes anh {
	from{opacity:0}
	to{opacity:1}
}
img {max-width: 100%;
	 height: auto;}

.anh1 {

	animation: anh 25s linear infinite;
		   
}